#piechart {
    height: 360px;                                               
    position: relative;
    width: 360px;
}

.legend {
    font-size: 12px;
}

rect {
    cursor: pointer;                                             
    stroke-width: 2;
}

rect.disabled {                                                 
    fill: transparent !important;                                 
}  

h1 {                                                           
    font-size: 14px;                                              
    text-align: center;                                           
}                                                              
