<div class="row">
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3>Analyse</h3>

        <p>different data quickly</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
      <div class="inner">
        <h3>Enhance</h3>

        <p>your business</p>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3>Achieve</h3>

        <p>better user experience</p>
      </div>
      <div class="icon">
        <i class="ion ion-ios-people"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-red">
      <div class="inner">
        <h3>Extract</h3>
        <p>only things that matter</p>
      </div>
      <div class="icon">
        <i class="ion ion-pie-graph"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
</div>

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <h4 class="box-title">Getting Started</h4>
      </div>
      <div class="box-body">
        <ol>
          <li class="form-group">Go to option <strong>Upload Raw Data</strong> from the main menu.</li>
          <li class="form-group">Use the new form to upload your json file.</li>
          <li class="form-group">Once the file is uploaded, its content is divided and stored as a number of entities. Each entity respresents one object from the uploaded json file. Now, click the option <strong>Analyse Data</strong> from the main menu.</li>
          <li class="form-group">Fill in the new form and configure your classification: it will identify the groups among all the entities in the database and then sort them accordingly. Parameters of the classification are:
            <ul>
              <li>similarity threshold (the percentage of attributes (0 - 100) which can differ among the entities within a group)</li>
              <li>maximum number of entities to be involved in the classification <br><small>Note: If this is not specified, the classification will try to classify all entities which do not belong to any group.</small></li>
              <li>description</li>
            </ul>
          </li>
          <li class="form-group">Once the classification is finished, you will be redirected to the results page which contains:
            <ul>
              <li>information about predefined classification parameters</li>
              <li>list of groups which where identified and their attributes</li>
              <li>chart showing identified groups</li>
            </ul>
          </li>
          <li class="form-group">With these groups, you can now analyse the dependancies between certain attribute values among the entities of the same group. Click on <strong>Plot Data</strong> option from the main menu.</li>
          <li class="form-group">Choose <strong>New Presentation</strong> to create a new chart to illustrate the dependencies.</li>
          <li class="form-group">Once you fill in the new form and click on <strong>Create Presentation</strong>, a chart will be shown. You can access it later by visiting <strong>Plot Data</strong> since the list of all charts is kept there.</li>
        </ol>
      </div>
    </div>
  </div>
</div>