<div class="row">
  <div class="col-md-6">
    <div class="box">
      <div class="box-header">
        <h4 class="box-title">Editing Classification</h4>
      </div>
      <div class="box-body">
        <%= render 'form' %>
      </div>
      <div class="box-footer text-right">
        <%= link_to 'Show', @classification, :class => "btn btn-info btn-flat" %> <%= link_to 'Back', classifications_path, :class => "btn btn-default btn-flat" %>
      </div>
    </div>    
  </div>
</div>