<div class="row">
  <div class="col-md-4">
    <div class="box">
      <div class="box-header">
        <h4 class="box-title">Editing Upload</h4>
      </div>
      <div class="box-body">
        <%= render 'form' %>
      </div>
      <div class="box-footer text-right">
        <%= link_to 'Show', @upload, :class => "btn btn-flat btn-warning" %> <%= link_to 'Back', uploads_path, :class => "btn btn-default btn-flat glyphicon glyphicon-menu-left " %>  
      </div>
    </div>
  </div>
</div>




