<div class="row">
  <div class="col-md-4">
    <div class="box">
      <div class="box-header with-border form-group">
        <div class="box-title">Uploading Files</div>
      </div>
      <div class="box-body">
        <%= render 'form' %>
      </div>
      <div class="box-footer text-right">
        <%= link_to 'Back', "/#", :class => "btn btn-default" %>
      </div>
    </div>
  </div>
</div>