<div class="row">
  <div class="col-md-6">
    <div class="box">
      <div class="box-header">
        <h4 class="box-title">Upload</h4>
      </div>
      <div class="box-body">
        <p id="notice">
          <strong><%= notice %></strong>
        </p>
        <p>
          <strong>Name of the file: </strong>
          <%= @upload.filename %>
        </p>
        <p>
          <strong>Content:</strong>
          <%= @upload.content %>
        </p> 
      </div>
      <div class="box-footer text-right">
        <%= link_to 'Back', uploads_path, :class => "btn btn-default btn-flat glyphicon glyphicon-menu-left " %>  
      </div>
    </div>
  </div>
</div>    
    